/* start of media queries */

/* 1450 min-width media query */

@media (min-width: 1450px) {

    /* nav */

    .navClick {
        font-size: 1.5rem;
    }

    /* profile */

    #aboutMe {
        padding: 5rem 15rem;
    }

}

/* 1200px max-width media query */

@media (max-width: 1200px) {

    /* profile */

    #aboutMe {
        padding: 2rem;
    }

    /* application links */

    .mainWork {
        padding: 2em;
    }

    .mainWork p {
        font-size: 1.5rem;
    }

    /* footer */

    #pageFooter {
        padding: 1rem;
        font-size: 2rem;
    }

}

/* 1024px max-width media query */

@media (max-width: 1024px) {

    /* nav */

    .navClick {
        font-size: 1.2rem;
    }

    /* profile */

    #aboutMe {
        padding: 1.5rem;
    }

    #aboutMe h1 {
        font-size: 2.5rem;
    }

    #aboutMe h2 {
        font-size: 2rem;
    }

    #aboutMe p {
        font-size: 1.3rem;
    }

    /* application links */

    .mainWork {
        padding: 2rem;
    }

    .mainWork figure,
    .mainWork p {
        width: 45%;
        font-size: 1.3rem;
    }

    .workGrid p {
        font-size: .8rem;
    }

    /* contact section */

    #contact {
        padding: .5rem;
    }

    #contact h2 {
        font-size: 2.5rem;
    }

    .contactLink {
        font-size: 2rem;
    }

    /* footer */

    #pageFooter {
        font-size: 1.5rem;
    }

}

/* 768px max-width media query */

@media (max-width: 768px) {

    /* nav */

    #topNav {
        flex-direction: column;
        align-items: center;
    }

    #topNav ul {
        margin: 1em auto .5em;
        text-align: center;
    }

    .navLink {
        display: block;
        padding: .2em .5em;
    }

    .navClick {
        font-size: 1rem;
    }

    /* profile */

    #aboutMe {
        padding: 6rem 3rem .5rem;
    }

    #aboutMe h1 {
        margin-bottom: 0;
        font-size: 1.4rem;
    }

    #aboutMe h2 {
        font-size: 1rem;

    }

    #aboutMe p {
        font-size: .7rem;
    }

    #aboutMe img {
        width: 30%;
    }

    /* application links */

    .mainWork {
        padding: 1em;
    }

    .mainWork figure,
    .mainWork p,
    .workGrid figure,
    .workGrid p {
        width: 40%;
        font-size: .7rem;
    }

    .box1 {
        order: 1;
    }

    .box2 {
        order: 2;
    }

    .box3 {
        order: 4;
    }

    .box4 {
        order: 3;
    }

    .box5 {
        order: 6;
    }

    .box6 {
        order: 5;
    }

    .box7 {
        order: 7;
    }

    .box8 {
        order: 8;
    }

    /* contact section */

    #contact h2 {
        font-size: 1.3rem;
    }

    .contactLink {
        font-size: 1rem;
    }

    .contactIcon {
        height: 1.5rem;
    }

    /* footer */

    #pageFooter {
        padding: 1em;
        font-size: 1rem;
    }
}

/* 560 - 768px media query */

@media (min-width: 560px) and (max-width: 768px) {

    /* profile */

    #aboutMe {
        padding: 6rem 2rem .5rem;
    }

    #aboutMe h1 {
        font-size: 2rem;
    }

    #aboutMe h2 {
        font-size: 1.5rem;

    }

    #aboutMe p {
        font-size: 1rem;
    }

    /* application links */

    .mainWork p,
    .workGrid p {
        font-size: 1rem;
    }
}

/* 480px max-width media query */

@media (max-width: 480px) {

    /* profile */

    #aboutMe {
        flex-direction: column;
    }

    #aboutMe h1 {
        font-size: 1.5rem;
    }

    #aboutMe h2 {
        align-self: flex-end;
        font-size: .9rem;
    }

    #aboutMe img {
        align-self: center;
        border: .2em solid var(--mainBlue);
        width: 50%;
    }

    #aboutMe div {
        display: none;
    }

    /* application links */

    .mainWork {
        flex-direction: column;
        padding: .5rem;
    }

    .mainWork figure,
    .mainWork p,
    .workGrid figure,
    .workGrid p {
        margin: 1rem auto;
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }

    .workGrid {
        flex-direction: column;
    }

    .workGrid p {
        display: none;
    }

    /* contact section */

    #contact h2 {
        font-size: 1rem;
    }

    .contactLink {
        display: inline-block;
        margin: .5em -.25em;
    }

    .hidden {
        display: none;
    }

    .contactIcon {
        margin: .7rem;
        height: 2rem;
    }

    /* footer */

    #pageFooter {
        padding: 1.5rem;
    }

    #pageFooter p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

/* 380px max-width media */

/* profile */

@media (max-width: 380px) {
    #aboutMe {
        padding: 6rem 1rem .5rem;
    }
}

/* end of media queries */

/* TODO: Smile. You are enough. */