.workGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.boxSection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
}

.box {
    width: 48%;
    padding: 1em;
    color: var(--mainBlue)
}

.box p {
    margin: 1rem;
    line-height: 1.3rem;
    text-align: justify;
}

.box img {
    width: 100%;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: .2rem;
    left: 3.2rem;
    width: 60%;
    padding: .7em 1em;
    text-align: center;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
}