.boxGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 0;
    margin: 0;
}

.boxSection3,
.boxSection4 {
    flex-direction: row-reverse;
}

.box {
    width: 48%;
    padding: 1rem;
    color: var(--mainBlue)
}

p {
    margin: .7rem 0;
    line-height: 1.3rem;
    text-align: justify;
}

img {
    width: 100%;
}

i {
    font-size: 2rem;
    color: var(--mainBlue);
}

a {
    text-decoration: none;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: .2rem;
    left: 3.2rem;
    width: 60%;
    padding: .7em 1em;
    text-align: center;
    background-color: var(--mainBlue);
    color: var(--lightBlue);
}

@media (min-width: 1450px) {}

@media (max-width: 1450px) {

    p {
        font-size: .9rem;
        line-height: 1rem;
    }
}

@media (max-width: 1200px) {

    figcaption {
        font-size: .8rem;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (min-width: 560px) and (max-width: 768px) {}

@media (max-width: 480px) {}

@media (max-width: 380px) {}