#contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact h2 {
    margin: 1rem auto;
    width: 80%;
    /* padding: 1em; */
    font-size: 3rem;
    text-align: center;
    background-color: var(--lightBlue);
    color: var(--mainBlue);
}


#contact ul {
    text-align: center;
}

.contactIcon {
    vertical-align: bottom;
    margin-right: .5em;
    width: auto;
    height: 1em;
}

.contactLink {
    margin: .3rem;
    font-size: 3rem;
}

.contactClick {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--pink);
}

@media (min-width: 1450px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (min-width: 560px) and (max-width: 768px) {}

@media (max-width: 480px) {}

@media (max-width: 380px) {}